
body {
    width: 100%;
    height: auto;
    background: black;
    position: relative;
}

main {
    width: 1050px;
    height: auto;
    background: rgb(50, 49, 49);
    margin: 0px auto 0px auto;
    font-family: "Roboto";
    position: absolute;
    top: -10px;
    left: 250px;
}

table {
    display: table;
    width: 640px;
    border: 1px solid rgb(77, 76, 76);
    border-radius: 5px;
    border-spacing: 0px;
    table-layout: fixed;
    color: rgb(220, 216, 216);
    font-size: 11px;
}

.table1{
    margin: 100px auto 30px 45px;
}

.table2{
    margin: 0px auto 30px 45px;
}

.table3{
    margin: 0px auto 100px 45px;
}

tr {
    height: 38px;
    text-align: left;
}

th {
    color: rgb(227, 230, 230);
    padding-left: 10px;
    border-bottom: 1px solid rgb(77, 76, 76);
}

td {
    padding-left: 10px;
    border-bottom: 1px solid rgb(77, 76, 76);
}

.row3 td {
    border-bottom: 0px;
}

.th-cell1 img {
    width: 8px;
    padding-left: 10px;
}


.cell2 {
    font-weight: 500;
    color: rgb(137, 136, 136);
}

.table1 .row1 .cell3,  .table1 .row2 .cell3, .table1 .row3 .cell3{
    font-size: 18px;
    color: rgb(137, 136, 136);
    font-weight: 600;
    padding-bottom: 7px;
    text-align: right;
    padding-right: 10px;
}

.table2 .row1 .cell3,  .table2 .row2 .cell3, .table2 .row3 .cell3, 
.table3 .row1 .cell3,  .table3 .row2 .cell3, .table3 .row3 .cell3 {
    font-size: 18px;
    color: rgb(227, 230, 230);
    font-weight: 600;
    padding-bottom: 7px;
    text-align: right;
    padding-right: 10px;
}

.th-cell2, .cell2 {
    padding-left: 125px;
}


img {
    width: 15px;
    vertical-align: middle;
    padding-right: 10px;
}

#select-name {
    vertical-align: middle;
    padding-right: 20px;
    
}

.checkbox {
    vertical-align: middle;
    padding-right: 10px;
}

#search {
    width: 143px;
    height: 32px;
    border-radius: 5px;
    background: rgb(79, 78, 78);
    border: 0px;
    font-size: 11px;
    padding-left: 10px;
    font-weight: 700;
    margin-left: 57px;
    
}

