body {
    font-family: 'Lato';
    font-style: normal;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: auto;
}

.header {
    display: flex;
    width: 100%;
    height: auto;
    background: #ED4C5C;
}

.header-content h1 {
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    margin: 122px 81px 24px 165px;
}

.text {
    width: 445px;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
    margin: 0px 81px 40px 165px;
}

.icon {
    width: 134px;
    height: 32px;
    margin: 0px 394px 111px 163px;
}

.header-img {
    width: 533px;
    height: 311px;
    margin: 94px 216px 95px 0px;
}

.content {
    display: flex;
    width: 100%;
    height: auto;
    background: #FFFFFF;
}

.content h1 {
    width: 445px;
    height: 107px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
    margin: 117px 114px 0px 176px;
}

.text-content {
    width: 434px;
    height: 64px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #000000;
    margin: 0px 125px 223px 176px;
}

.form {
    width: 540px;
    height: 305px;
    margin: 117px 165px 78px 0px;
}

.form-main {
    display: flex;
}

#First-Name {
    box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 21px 0px 20px 31px;
    margin: 0px 30px 24px 0px;
}

#Last-Name {
    box-sizing: border-box;
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 21px 0px 20px 31px;
    margin-bottom: 24px;
}

#Phone-Number {
    box-sizing: border-box;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 21px 0px 20px 31px;
    margin-bottom: 24px;
}

.select-service {
    box-sizing: border-box;
    width: 540px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    padding: 21px 0px 20px 31px;
    margin-bottom: 27px;
}

button {
    box-sizing: border-box;
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 17px 0px 16px 0px;
}

.footer {
    width: 100%;
    height: 435px;
    background: #FAFAFA;
    margin-top: 45px;

}

.footer main{
    display: flex;
    box-sizing: border-box;
    color: #101010;
}

.adress h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 85px 219px 33px 166px;
}

.adress p {
    width: 254px;
    height: 54px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin: 0px 30px 141px 166px;
}

.services h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 85px 217px 28px 0px;
}

.menu {
    width: 254px;
    height: 114px;
    font-weight: 400;
    font-size: 12px;
    line-height: 160%;
    color: #000000;
    margin: 0px 30px 86px 0px;
    padding-left: 0px;
}

.contacts h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 70px 187px 28px 0px;
}

.email {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0px 166px 11px 0px;
}

.contacts div {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #121212;
    margin: 11px 192px 21.17px 0px;
}

#FaceBook {
    width: 6.42px;
    height: 11.67px;
    margin-right: 16.67px;
    padding-left: 3px;
}

#Instagram {
    margin-right: 13.75px;
}

#Twitter {
    width: 12.83px;
    height: 10.47px;
    
}

.support h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin: 85px 322px 33px 0px;
}

.support div {
    width: 216px;
    height: 31px;
}

.info {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    margin: 0px 1124px 86px 161px;
}